:root {
    --color-primario: #0078AA;
    --color-secundario: #037db1a0;
    --color-gris: #d3d3d3;
    --color-blanco: #f1f1f1;
    --color-blanco-info: #f0efef;
    --color-modal-bg: #fefefe;
    --color-modal-text: #888;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #212121;
    background-image: url('/img/Fondo.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.encabezado-principal {
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-left: 130px;
}

.encabezado-principal img {
    max-width: 100px;
    margin-top: 20px;
}

.Titulo1 {
    font-size: 35px;
    color: var(--color-blanco);
    font-weight: 400;
    margin: 0;
}

.Titulo2 {
    color: var(--color-primario);
}

.Subtitulo {
    font-size: 18px;
    font-weight: 400;
    margin: 3px 0;
    color: var(--color-blanco);
}

.contenedor-principal {
    flex: 1;
    margin: 5px;
    margin-left: 130px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.campo-texto {
    margin-left: 15px;
    width: 600px;
    height: 300px;
    font-size: 1.8em;
    padding: 33px;
    color: #f1f1f1;
    border: 1px solid #5a5a5b;
    background-color: #212121;
    border-radius: 26px;
    resize: none;
    box-sizing: border-box;
}

textarea::placeholder {
    font-size: 20px;
    color: #696969;
}

.informacion-entrada {
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-icon {
    width: 20px;
    height: 20px;
}

.texto-informacion {
    margin: 0;
    font-size: 18px;
    color: var(--color-blanco-info);
}

button {
    width: 240px;
    padding: 15px;
    margin: 5px 0;
    font-size: 1.1em;
    border: none;
    border-radius: 26px;
    background-color: var(--color-primario);
    color: var(--color-blanco);
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background-color: var(--color-secundario);
}

.botonera {
    display: flex;
    justify-content: center;
    gap: 15px;
}

button:disabled {
    background-color: #212121;
    cursor: not-allowed;
    color: #9b9898;
    border: 1px solid #9b9898;    
}

button.active {
    background-color: var(--color-primario);
    color: var(--color-blanco);
    cursor: pointer;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    display: none;
    z-index: 1000;
}

.seccion-salida {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.mensaje-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 80%;
    height: 300px;
    background: #212121;
    border-radius: 26px;
    box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.5);
    border: 1px solid #5a5a5b;
    text-align: center;
    color: var(--color-blanco);
    font-size: 1.2em;
}

.campo-salida {
    background-color: #212121;
    color: var(--color-blanco);
    box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.25);
    padding: 15px;
    width: 60%;
    height: 400px;
    border-radius: 26px;
    border: 1px solid #E7E8EC;
    font-size: 1.8em;
}

.imagen-placeholder {
    width: 220px;
    height: 220px;
    margin-bottom: 10px;
}

.mensaje-placeholder {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-blanco);
    margin: 5px 0;
}

.submensaje-placeholder {
    color: var(--color-blanco-info);
    margin: 0;
    font-size: 1em;
}

.pie-pagina {
    background-color: #212121;
    color: var(--color-blanco);
    font-size: 1em;
    padding: 10px;
    text-align: center;
    width: 100%;
}

/*MODAL*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #212121;
    padding: 20px;
    width: 400px;
    max-width: none;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-blanco);
    box-sizing: border-box;
}

.modal-header {
    background-color: #0078AA;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    z-index: 2;
}

.modal-header h2 {
    font-size: 1.5em;
    color: var(--color-blanco);
    margin: 0;
}

.modal-close-icon {
    font-size: 1.5em;
    color: var(--color-blanco);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-body {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-image {
    width: 80px;
    height: 80px;
    margin: 20px 0;
}

.modal-content p {
    font-size: 1em;
    margin-bottom: 20px;
    text-align: center;
}

.modal-aceptar-btn {
    background-color: var(--color-primario);
    color: var(--color-blanco);
    padding: 10px 20px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

.modal-aceptar-btn:hover {
    background-color: var(--color-secundario);
}

.modal-cancelar-btn {
    background-color: var(--color-primario);
    color: var(--color-blanco);
    padding: 10px 20px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

.modal-cancelar-btn:hover {
    background-color: var(--color-secundario);
}

.pie-pagina::before {
    background-color: #212121;
    content: "";
    display: block;
    height: 1px;
    background-color: #f1f1f1;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

@media (max-width: 1200px) {
    .contenedor-principal {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;
        padding: 0 10px;
    }

    .seccion-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .campo-texto {
        width: 90%;
        height: auto;
        box-sizing: border-box;
        margin-bottom: 10px;
        color: #f1f1f1;
    }

    .informacion-entrada {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        text-align: center;
    }

    .img-icon {
        margin-right: 10px;
    }

    .botonera {
        display: flex;
        gap: 10px;
        justify-content: center;
        width: 100%;
    }

    .seccion-salida {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .campo-salida {
        width: 90%;
        height: auto;
        box-sizing: border-box;
        margin: 20px 0;
        display: none;
    }

    #copyButton {
        display: none;
    }

    .mensaje-inicial {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    .imagen-placeholder {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .encabezado-principal {
        padding: 2%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0;
    }

    .encabezado-principal img {
        max-width: 80px;
        margin-top: 40px;
    }

    .Titulo1 {
        font-size: 30px;
        color: var(--color-blanco);
        font-weight: 600;
        margin: 0;
        text-align: center;
    }

    .Titulo2 {
        color: var(--color-primario);
        font-size: 24px;
    }

    .Subtitulo {
        font-size: 16px;
        font-weight: 400;
        margin: 2px 0;
        color: var(--color-blanco);
        text-align: center;
    }

    .contenedor-principal {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0 auto;
        padding: 0 5px;
        margin-bottom: 30px;
    }

    .seccion-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .campo-texto {
        width: 95%;
        height: auto;
        box-sizing: border-box;
        margin-bottom: 10px;
        color: #f1f1f1;
    }

    .informacion-entrada {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
        text-align: center;
    }

    .img-icon {
        margin-bottom: 5px;
    }

    .botonera {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        width: 100%;
    }

    .campo-salida {
        width: 95%;
        height: auto;
        box-sizing: border-box;
        margin: 10px 0;
        display: none;
    }

    #copyButton {
        display: none;
    }

    .mensaje-inicial {
        text-align: center;
        width: 95%;
        margin: 0 auto;
    }

    .imagen-placeholder {
        max-width: 100%;
        height: auto;
    }
}
